.field-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
}
.markup-num {
  display: flex;
  flex-basis: 10%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
}
.markup-num li {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  padding-top: 30%;
}
.markup-chars {
  flex-basis: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.markup-chars li {
  flex: 1;
  text-align: center;
}
.field-ul {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.field-li {
  list-style-type: none;
  box-sizing: border-box;
  flex-basis: 12.5%;
  position: relative;
}
.field-li-in {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
}
.black-cell {
  background-color: #769656;
}
.white-cell {
  background-color: #eeeed2;
}
.field-img {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  cursor: pointer;
}
.whoseWin-popup-wrap {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.whoseWin-popup {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  color: #fff;
  padding: 20px;
  padding-bottom: 40px;
}
.btn {
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  transition: all .3s;
}
.btn:hover {
  color: #333;
  background-color: #fff;
}